* {
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
img{
    width: 250px;
    height: auto;
}



.flex-canter{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-space-canter{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.flex-space-canter2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0075c5;
   
}
.hed-item{
    background-color: antiquewhite;
    border: 1px solid black;
}
body{
    background-color: #0075c5;
}
.hed-img{
    background-color: ;
}
.hed-itm{
    background-color: ;
    width: 900px;
    color: white;
}
li{
    float: left;
    padding: 30px;
    font-size: 20px;
    cursor: pointer;
}

.hed-item :hover{
    background-color: rgb(235, 12, 31);
    border-radius: 0.3rem;
}
.logo-hd{
    width: 400px;
}

a{
    color: aliceblue;

}

.heder-talk{
    background-color: #f34e0c;
    border-radius: 0.3rem;
}
/*heder end */

.fooder_lst{
    background-color: #005792;
}
.fooder-title{
    color: aliceblue;
    padding: 21px;
    padding-left: 50px;
    text-align: center;
    font-size: 30px;
}

span {
    background-color: rgb(231, 32, 32);
    cursor: pointer;
    padding: 10px;
    border-radius: 0.3rem;
}

.span1:hover {
    background-color: rgb(243, 241, 241);
    
    padding: 10px;
    border-radius: 0.3rem;
    color: black;
    padding-top: none;
}

/*fooder end */

.setion-container{
    background-color: rgb(235, 230, 221);
}

/*section1 st here */
.sction-img{
    margin: 30px ;
    margin-left: 150px;
    border: 5px solid rgb(226, 173, 25);
    display: inline;
    float: left;
    width: 260px;
    margin-top: 100px;
    border-radius: 0.3rem;
    
}

.section-title{
    height: 700px;
}

.section-title{
    padding: 55px;
}
.s-1{
    padding-right: 600px;
}
h4{
    color: orange;
    font-size: 15px;
    transform: initial;
    
    padding-top: 120px;
    margin-top: 15px;
    margin-bottom: 15px;

}
h1{
    font-size: 70px;
    color: #e0a911;
    padding-bottom: 2px;
}
.flex-space-canter3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-image: url("https://wallpaperaccess.com/full/2945044.jpg");
    background-repeat: no-repeat;
    
    background-position: right top;
    background-attachment: fixed;
    background-size: auto 1300px;
    background-color: #ffffff;


}

#sction_titile{
    color: #483d8b;
    font-size: 30px;
    padding-bottom: 60px;
    padding-top: 10px;
}
#sction_titile2{
    color: #483d8b;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
}

.sction-pera{
    color: #7851a9;
    font-size: 20px;
    padding-bottom: 25px;
}
.sction-button{
    background-color: #e0a911;
    border-radius: 0.3rem;
    padding: 10px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}
.sction-button:hover{
    background-color: #f34e0c;
    border-radius: 0.3rem;
    padding: 10px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}


/*section1 st here */
.section2-title2{
    border: ;
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    padding: 5px;
}
.section2-title{
    border: ;
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding: 10px;
    padding-bottom: 10px;
    padding-top: 100px;
    
}
/*box st here */
.servic-box1{
    width:400px;
    height: 278px;
    
    color: black;
    margin: 50px;
    display: block;
    float: left;
    text-align: center;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    


}
.servic-box2{
    width:400px;
    height: 278px;
    
    color: black;
    margin: 50px;
    display: block;
    float: left;
    text-align: center;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    
}.servic-box3{
    width:400px;
    height: 278px;
    
    color: black;
    margin: 50px;
    display: block;
    float: left;
    text-align: center;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}.servic-box4{
    width:400px;
    height: 278px;
    border: ;
    color: black;
    margin: 50px;
    display: block;
    float: left;
    text-align: center;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}.servic-box5{
    width:400px;
    height: 278px;
    
    color: black;
    margin: 50px;
    display: block;
    float: left;
    text-align: center;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}.servic-box6{
    width:400px;
    height: 278px;
    
    color: black;
    margin: 50px;
    display: block;
    float: left;
    text-align: center;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.icon-box1{
    width: 92px;
}

.container-box{
    background-color: #f34e0c;
    width: 1200;
    height: 634;
    display: block;
    justify-content: ;
    text-align: center;
    margin: 0 auto;
    overflow: none
    ;

}

.icon-box1{
    padding: 12px;
    color: #ffffff;
    background-color: #f34e0c;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 15px;
    
}

.box-heading{
    font-size: 25px;
    padding-bottom: 10px;
    color: #7851a9;
}
.box-pera{
    color: #005792;
    margin: 5px;
}

.container-box :hover{
    background-color: aqua;
    
}

/*section12 ent here */


/*section3 st here */

.section3-item1{
    
    color: black;
    width: 700px;
    height: 450px;
    float: left;
    margin-left: 200px;
    padding-left: 20px;
    margin-top: 50px;
    padding-bottom: 35px;
    margin-bottom: 25px;
    background-color: rgb(253, 253, 253);
    border-radius: 0.3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 6px 6px 5px 6px lightblue;
}
.section3-t1{
    padding-top: 20px;
    margin-top: 20px;
    font-size: 20px;
    padding-left: 5px;
    color: #ffa602;
}

.section3-main-title{
    padding-top: ;
    margin-top: 20px;
    font-size: 50px;
    width: auto;
    padding-bottom: 10px;
    color: #483d8b;
}

.section3-container{
    width: 1450px;
    height: auto;
    display: inline;
    justify-content: space-around;
}
.section3-img{
    width: auto;
    display: flex;
    padding: 150px;
    font-size: 100px;
    size: 100px;

}
.section3-pera1{
    font-size: 19px;
    color: rgb(110, 21, 158);
    padding-right: 5px;
}
.section3-button{
    padding: 10px;
    margin: 10px;
    color: #fffefd;
    border-radius: 0.3rem;
    border: none;
    background-color: #f34e0c;
    padding-top: 5px;
    
    text-align: center;
    font-size: 20px;
}